.container {
  margin: 20px;
}

.mat-elevation-z8 {
  max-width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word !important;
}

.mdc-data-table__table {
  table-layout: fixed;
}

