<div fxLayout="row" fxLayoutGap="10px" class="container">
  <h1>Parameswari H</h1>
  <button mat-stroked-button class="active-btn" disabled>ACTIVE</button>
</div>
<div fxLayout="row" fxLayoutGap="10px" class="container" fxLayoutGap.lt-md="10px">
  <div class="start" fxFlex="100%" fxLayoutGap="10px">
    <button mat-stroked-button id="gen-button" routerLink="general">General</button>
    <button mat-stroked-button color="#058F3F" routerLink="contact">Contact</button>
    <button mat-stroked-button color="#058F3F">Education</button>
    <button mat-stroked-button color="#058F3F">Skills</button>
    <button mat-stroked-button color="#058F3F">Myjobs</button>
    <button mat-stroked-button color="#058F3F">Employment</button>
    <button mat-stroked-button color="#058F3F">Confidential</button>
    <button mat-stroked-button color="#058F3F">Leaves</button>
    <button mat-stroked-button color="#058F3F">Document</button>
  </div>


</div>
<!-- <app-general></app-general> -->
<router-outlet></router-outlet>